body {
  background-color: #CCC;
}
.titles{
  width: 100%;
  background-color: black;
  font-weight: bold;
  text-align: center;
  color: #CCC;
}
.scr{
  position: relative;
  top: 0px;
  right: 0px;
  font-weight: bold;

}
.cmd{
  color: red;
  font-weight: bold;
}

.selections {
  justify-content: center;
  float: left;
  width: 48%;
}


.selection, .c_selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  transition: 100ms;
  display: block;
  width: 180px;
  height: 180px;
}
.selection img, .c_selection img{
  padding: 30px;
  left: 0px;
  top: 0px;
}
.selection:hover {
  transform: scale(1.2);
}

.results {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.result-score {
  margin-left: .1rem;
  font-size: .5rem;
  color: #333;
}

.result-selection {
  opacity: .5;
}

.result-selection.winner {
  opacity: 1;
  font-size: 1.5rem;
}

#result{
  width: 500px;
  height: 200px;
  border: 2px solid black;
  position: absolute;
  left: 30%;
  top: 30%;
  background-color:aqua;
  display: none;
  
}
#win{
  font-size: 40px;
}